<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
         
         <h1>hello</h1>
            <div>
                {{form(form)}}
                {% if suggestions is not empty %}
                    {% for userInput, suggestions in suggestions %}
                        <h3>Suggestion pour {{ userInput }}:</h3>
                        <ul>
                            {% for suggestion in suggestions %}
                                <li>{{ suggestion }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% else %}
                    <div>No suggestions available</div>
                {% endif %}
            </div>
        {% endblock %}
    </body>
</html>
